/*  */


/* General Styles */
.about-section {
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: -7%;
    flex-direction: column;
}

.about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 0.8rem;
    color: hsl(0, 0%, 50%);
    margin-bottom: 20px;
    max-width: 50%;
    display: flex;
    align-items: flex-start;
}

/* Services Section */
.about-services {
    text-align: center;
    padding: 20px;
}

.about-title {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 700;
}

.service-title {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 500;
}

.services-container {
    display: flex;
    gap: 30px;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.service {
    background-color: hsl(219, 54%, 12%);
    border-radius: 16px;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    transition: transform 0.3s, border-color 0.3s;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
}

.service-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 20px;
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about-section {
        padding: 30px;
    }

    .about-text {
        margin-left: 0;
    }

    .about-section h1 {
        font-size: 2rem;
    }

    .about-section p {
        font-size: 0.9rem;
        max-width: 80%;
    }

    .about-title,
    .service-title {
        font-size: 28px;
    }

    .services-container {
        gap: 20px;
    }

    .service {
        padding: 20px 15px;
        max-width: 100%;
    }

    .service-icon {
        width: 60px;
        height: 60px;
    }

    .service-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .about-section {
        padding: 20px;
    }

    .about-section h1 {
        font-size: 1.5rem;
    }

    .about-section p {
        font-size: 1rem;
        max-width: 100%;
    }

    .about-title,
    .service-title {
        font-size: 24px;
    }

    .services-container {
        gap: 15px;
    }

    .service {
        padding: 15px 10px;
    }

    .service-icon {
        width: 50px;
        height: 50px;
    }

    .service-title {
        font-size: 16px;
    }
}
