nav {
    display: flex;
    height: inherit;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin-bottom: 40px;
    background-color: #000000;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(255, 243, 150, 0.1);
}

.left-nav-holder{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.left-nav-holder:hover {
    cursor: pointer;
    color: #935AF6FF;
}

img {
    width: 50px;
    height: 50px;
    margin: 10%;
    border-radius: 50%;
}

nav .author-name {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 10px; /* Adjusted for better spacing */
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-link {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover {
    color: #935AF6FF;
}

nav li {
    list-style: none;
    margin: 0 10px;
    text-decoration: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

/* Improved hamburger menu styles for mobile responsiveness */
.hamburger-menu {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #333;
    border: 1px solid #444;
    width: 100%; /* Adjusted to take full width */
    max-width: 200px; /* Added max-width for better control */
}

.mobile-menu li {
    margin: 10px 0;
    text-align: center;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
}

/* Enhanced media query for better mobile responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none !important;
    }

    .hamburger-menu {
        display: block;
    }

    .mobile-menu {
        width: 100%; /* Adjusted width for better mobile experience */
    }
}

@media (max-width: 480px) {
    nav {
        padding: 0 5%; /* Increased padding for smaller screens */
    }

    .mobile-menu a {
        font-size: 16px; /* Slightly reduced font size for smaller screens */
        padding: 8px; /* Adjusted padding */
    }

    .author-name {
        font-size: 14px; /* Reduced font size for better fit on smaller screens */
        left: 5%; /* Adjusted left positioning */
    }
}